* {
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

input {
  display: none;
}

.bayan__item + .bayan .bayan__content {
  display: none;
}

.bayan__item:checked + .bayan .bayan__content {
  display: block;
}

.bayan__title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  border-top: 0.2rem solid lightgray;
}

.bayan__content {
  padding-bottom: 0.3rem;
}

.bayan:hover {
  cursor: pointer;
}

@media (min-width: 480px) {
  img {
    width: 80%;
  }

  .bayan__content {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .bayan__title {
    font-size: 1.8rem;
  }

  .heading {
    font-size: 2.3rem;
  }
}

@media (min-width: 820px) {
  .container {
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .bayan:hover .bayan__content {
    display: block;
  }

  .bayan__title {
    font-size: 2rem;
  }

  .heading {
    font-size: 2.7rem;
  }
}

@media (min-width: 1080px) {
  img {
    width: 50%;
  }
}
